/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

@tailwind base;

@tailwind components;

html, body {
    @apply m-0 p-0 h-full;
}
div {
    @apply leading-normal;
}
#root {
    height:100% !important;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 233, 233, 0)), color-stop(80%, #fff));
    background-image: url('../images/bottom-burst_900x175.png'), linear-gradient(180deg, rgba(236, 233, 233, 0), #fff 80%);
    @apply bg-auto bg-no-repeat bg-contain bg-bottom; */   
}
/* This sets first 3 parent divs (imposed by ReactJS) to a height  of 100 */
/*   rolled back on 01/29/20 for format and performance issues. */
/* body > #root > div {
    height:100%;
  }
  
body > #root > div > div {
    height:100%;
  } */
/* p:nth-child(4) { height:100%; } */

.blue-header {
    @apply flex bg-blue-100 h-37px px-4p;
}
.btn-pro {
    @apply flex bg-blue-100 w-full rounded-lg px-2p py-2p items-center justify-center text-white font-semibold cursor-pointer;
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    min-height: 80px;
}
.btn-pro.r {
    @apply ml-10p;
}
.btn-pro.w {
    min-height:70px;
    @apply w-full;
} 
.btn-pro.outer {
    @apply bg-white border-4 cursor-pointer;
    padding:6px 6px 6px 6px;
    border-radius: 14px;
}
.btn-pro.inner {
    @apply w-full; 
} 
.btn-pro.outline {
    @apply bg-white text-blue-100 border-4 border-blue;
}
.btn-pro.blueline {
    @apply bg-blue-100 text-white border-4 border-white;
    outline: 2px solid #ccc;
    outline-offset: -4px;

}
.btn-pro.disabled {
    @apply flex bg-gray-00 text-gray-01;
}
.btn-pro.blueline.disabled {
    @apply flex bg-gray-00 text-gray-01 border-gray-01;
}
.btn-pro.outline.disabled {
    @apply flex bg-gray-00 text-gray-01 border-gray-01 border-4;
}
.btn-pro.nav {
    @apply flex bg-blue-100 w-2/3 rounded-full px-tp py-tp items-center justify-center text-white font-thin normal-case text-base;
}  

.btn-login {
    @apply flex bg-blue-200 w-full rounded-full px-tp py-2p items-center justify-center text-white font-semibold text-xl font-thin cursor-pointer;
} 
.name {
    @apply font-thin uppercase content-start tracking-wider text-lg;
} 
.name.lbl {
    @apply text-base text-blue-100;
}
.title {
    @apply text-blue-100 uppercase border-b;
}
.btn-time {
    @apply flex items-center justify-center p-2p bg-green-pro text-white font-light self-start w-2/5 text-xs;
}
.btn-time.pm {
    @apply bg-green-pm
}
.btn-nums {
    @apply flex items-center justify-center rounded-full bg-blue-100 text-white font-light w-10p text-sm self-start;
}
.input {
    @apply border-b bg-transparent outline-none font-thin w-full text-xl;
}
input[type="password"] {
    @apply border-b bg-transparent outline-none font-thin w-full;
}
.subheader {
    min-height: 40px;
    @apply pb-2p h-auto relative;
}
.ddl-container {
    @apply flex flex-col right-0 absolute w-2/6 z-20
}
.ddl-lang {
    @apply float-right flex rounded-lg bg-offwhite border shadow-card min-h-35px max-h-40px text-blue-100 text-base font-light pl-4p items-center;
}
.ddl-options {
    @apply flex flex-1 flex-col w-auto justify-center items-start rounded-bl-lg rounded-br-lg bg-gray-00 text-lg text-gray-500 font-light pl-4p pb-2p hidden;
}
.ddl-container:hover .ddl-options {
    display: block;
  }
.langitem:hover .onbluetxt {
    @apply text-blue-100;
}
.div-form {
    @apply relative items-center justify-center flex flex-1 flex-col text-gray-500 font-light text-xl w-full;
}
.wht-container {
    @apply px-10p bg-white flex flex-shrink-0 items-center flex-col self-center h-50p w-95p rounded-lg;
}
.row-cards {
    @apply relative justify-between flex flex-1 flex-row mb-tp min-h-120px;
}
.row-pro {
    @apply relative justify-between flex flex-shrink-0 flex-col text-xl;
}
.row-slider {
    min-height: 100px;
    @apply relative flex flex-row items-center justify-center text-xl rounded-full pb-4p;
}
.row-slider.slide {
    @apply bg-gray-00 pb-0 pl-2p pr-2p mb-4p;
    height:45%;
}
.row-slider.tall {
    @apply mb-4p;
}
.row-stretch {
    @apply justify-center self-stretch flex flex-row;
}
.card-container { 
    @apply flex flex-shrink-0 flex-col font-light text-gray-700 text-lg;
}
/* .card-desktop:hover {
    opacity: 0.7;
} */
.card-desktop:active {
    border: 2px solid #f7f7f7;
}

.card-desktop {
    @apply bg-offwhite border pl-4p /* mb-mr2p */ justify-between flex-row rounded-full shadow-card flex flex-1 font-medium text-center items-center min-h-120px cursor-pointer;
    cursor: pointer !important; 
}
.card-desktop.selected {
    @apply bg-green-pro border-green-pro text-white;
    /* font-black */
}
.card-desktop.lt {
    @apply shadow-cardlt;
    /* margin-bottom:2%; */
    min-height:90px;
    height:auto;
}
.card-desktop.mlp {
    @apply justify-start pl-0 pr-2p shadow-cardlt max-h-100px text-center;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    min-height: 75px;
}
.card-desktop.app {
    background-image: url('../images/icon-appointment.svg');
    @apply bg-75p bg-no-repeat bg-center mb-1p flex-col rounded-lg justify-between mr-tp px-tp py-tp min-h-200px;
}
.card-desktop.loc {
    background-image: url('../images/icon-location.svg');
    @apply bg-75p bg-no-repeat bg-center pl-tp pt-tp flex-col rounded-lg justify-between mr-tp min-h-200px;
}
.emoji-card {
    background-image: url('../images/emoji-1.svg'); 
    min-height: 64px;
    @apply bg-contain bg-no-repeat bg-center flex-col justify-between px-2p py-2p w-15p;
}
.emoji-card.two {
    background-image: url('../images/emoji-2.svg');
}
.emoji-card.three {
    background-image: url('../images/emoji-3.svg');
}
.emoji-card.four {
    background-image: url('../images/emoji-4.svg');
}
.emoji-card.five {
    background-image: url('../images/emoji-5.svg');
}
.emoji-card.six {
    background-image: url('../images/emoji-6.svg');
}
.star-card {
    background-image: url('../images/star.svg'); 
    min-height: 160px;
    @apply bg-contain bg-no-repeat bg-center flex-col justify-between px-2p py-2p w-15p;
}
.star-card.off {
    background-image: url('../images/star_off.svg'); 
}
.top-nav {
    @apply flex flex-row justify-between pb-tp;
}
.footer {
    @apply flex min-h-120px justify-between items-center;
}
.img-bottom-burst {
    /* background-image: url('../images/bottom-burst_900x175.png');  bg-auto bg-no-repeat bg-contain bg-bottom */
    @apply flex h-auto py-tp px-4p overflow-visible flex-col justify-between;
}
.img-bottom-burst.top {
    @apply justify-start h-auto;
}
.img-bottom-burst.full {
    @apply h-full;
}
.img-bottom-login {
    background-image: url('../images/bg-bottom-waves-overlay.png');
    @apply bg-contain bg-no-repeat bg-scroll bg-bottom flex flex-1 items-center self-center h-screen bg-blue-100 justify-center;
}
.img-circle-btn {
    background-image: url('../images/btn-circle-blue_120x120.svg');
    @apply bg-no-repeat bg-right flex-initial flex-no-wrap self-stretch h-auto bg-contain w-2/5;
}
.img-circle-btn.selected {
    background-image: url('../images/grn-circle-blue_120x120.svg'); 
}
.img-circle-btn.mlp {
    background-image: url('../images/btn-circle-blue_120x120.svg');
    @apply bg-left;
}
.img-circle-btn.mlp.selected {
    background-image: url('../images/grn-circle-blue_120x120.svg');
}
.white-gradient-wrap {
    position: fixed;
    bottom: 0;
    z-index: 12;
    height: 110px;
  }
 .footer.wht {
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 233, 233, 0)), color-stop(80%, #fff)); */
    background-image: url('../images/bottom-burst_900x175.png'), linear-gradient(180deg, rgba(236, 233, 233, 0), #fff 80%);
    padding-top: 5%;
    @apply bg-auto bg-no-repeat bg-contain bg-bottom;   
 } 
 .footer.wht.nobg {
    background-image: none; 
    z-index: 10000; 
    @apply pb-4p px-4p relative;  
 }
 .vh {
    @apply h-full;
 }
.white-gradient {
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 233, 233, 0)), color-stop(80%, #fff));
    /* background-image: url('../images/bottom-burst_900x175.png'), linear-gradient(180deg, rgba(236, 233, 233, 0), #fff 80%); */
    background-color: transparent;
    @apply bg-auto bg-no-repeat bg-contain bg-bottom flex flex-row justify-between items-center;
  }
  .white-gradient.nobg {
    background-image:none;
  }  
  .qa-container { 
      @apply flex-initial pb-2p text-base;
      padding-bottom:2% !important;
  }
  .summary {
      @apply pb-2p text-gray-600;
      font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
  h1 {
      @apply text-blue-100 uppercase text-xl;
  }
  .row-brz { 
      @apply relative justify-between flex flex-shrink-0 flex-col self-stretch;
  }
  .row-multi { 
      @apply relative justify-between flex flex-col self-stretch;
      /* overflow-y-auto */
  } 
  .row-long { 
    @apply relative justify-between flex flex-col self-stretch min-h-120px overflow-y-auto;
  } 
  .row-long.img { 
    @apply items-center pb-2p overflow-y-hidden w-full max-h-545px;
  }  
  .row-long.img div img {
    @apply max-h-545px rounded-lg;
 } 
  .row-long p { 
    padding-bottom: 1.7em;
  }   
  .row-pro.h {
    @apply relative justify-between flex flex-col self-stretch overflow-y-auto flex-shrink-0;
} 
  .rndbtn {
    @apply /* w-15p */ h-auto;
    width:13%;
  }
  .card-wrapper {
    @apply cursor-pointer pb-2p; 
    cursor: pointer !important; 
    display:flex;
  }
  .card-desktop.pro {
      @apply min-h-0 mb-0;
  }
  .card-desktop.mlp span {
    @apply pl-2p w-4/5;
  }
  .card-desktop.mlp {
    max-height: 75px;
    min-height: 60px;
    height:auto;
} 
/* update range slider toolTip styles */ 
.rangeslider .rangeslider__handle-tooltip {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    /* margin-top: 2%; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #fff !important;
    font-weight: normal;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 600 !important;
    color: #02A9DE !important;
    margin-top: 5px !important;
} 

.rangeslider-horizontal .rangeslider__handle-tooltip:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff !important;
    left: 50%;
    bottom: -8px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
.rangevalue {
    @apply pt-tp text-blue-100 font-bold text-center;
    font-size: 145%;
}
.wht-container.pad {
    @apply h-65p;
}  
.btn-key {
 /* font-size: calc(40px + 6 * ((100vw - 320px) / 680)); */ 
 @apply w-full text-center font-semibold border-gray-200 p-4p;
}
.btn-key.delete {
    background-image: url('../images/delete.svg');
    @apply bg-center bg-50p bg-no-repeat;
}
.btn-key.rev {
    @apply border-white bg-blue-100 text-white rounded-lg;
}
.btn-key.delete.rev {
    background-image: url('../images/delete-wht.svg');
    @apply bg-center bg-50p bg-no-repeat;
}
.progress-ball {
    @apply bg-gray-300 rounded-full w-25px h-25px;
}
.progress-ball.full {
    @apply bg-blue-100;
}
.wht-container.pad.phone { 
    @apply border px-4p h-auto pb-2p;
}
.phone-container {
    @apply flex flex-1 items-center self-center justify-center h-auto w-full;
}
.row-stretch.phonenum {
    @apply h-64px py-2p bg-gray-00 rounded-lg;
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
}
.qa-box { 
    @apply text-center text-xl text-gray-400 font-extrabold px-32px py-10px border-4 rounded-lg;
    /* w-2/5 */
}
.qa-box.selected { 
    @apply text-white bg-blue-100;
}
.half-row {
    @apply flex flex-initial flex-row h-auto w-auto;
    /*  flex-first */
}
.slide-container {
    padding-bottom: 18%;
}
.outer-row-multi {
    @apply flex relative;
}
.fixedfooter {
    position:fixed; bottom:0px; z-index:9999; width:100%; min-height:140px; opacity: 1; pointer-events: none;
}

@tailwind utilities;
@tailwind screens;

/* changed from 'sm' to 'md' temparaliy for Breeze 08/17 */
@screen sm  {
    .row-pro {
        @apply self-stretch text-xl;
    } 
    .row-pro.h {
        @apply self-auto text-xl;
    }    
    .card-desktop {
        
    } 
    .img-circle-btn { 
         @apply w-2/5;
    }
    .rndbtn {
        @apply /* w-15p */ h-auto;
        width:12%;
      }    
    .img-circle-btn.selected {
        @apply w-2/5;  
    }  
    .btn-pro {
        @apply w-2/6 text-xl;
    } 
    .btn-pro.outer {
        @apply w-2/6; 
    }
    .btn-login {
        @apply w-3/4;
    }
    .btn-time {
        @apply text-sm;
    }     
    .qa-container { 
        @apply text-xl;
    } 
    h1 {
        @apply text-2xl;
    }   
    .card-desktop.lt {
        @apply text-xl;
        min-height:120px;
    } 
    .row-slider {
        @apply self-stretch text-xl;
    } 
    .div-form {
        @apply self-stretch;
    }  
    .card-desktop.mlp {
        max-height: 100px;
    } 
    .slide-container {
        padding-bottom: 14%;
    }                      
}

@screen md {      
    .row-pro {
        @apply text-2xl;
    } 
    .img-circle-btn {
        @apply min-h-0;
        height: auto;
        width: 25%;
    }
    .img-circle-btn.selected { 
        height: auto;
        width: 25%;  
    } 
    .rndbtn {
        @apply h-auto;
        width:14%;
      }  
    .rndbtn.2col {
        width:24%;
      }        
    .btn-pro {
        @apply w-1/3 text-3xl;
    }
    .btn-pro.outer {
        @apply w-1/3; 
    }    
    .btn-pro.w {
        min-height:80px;
    }     
    .btn-pro.nav {
        @apply text-lg;
    }    
    .btn-login {
        @apply w-1/3;
    }   
    .qa-container { 
        @apply text-2xl;
    } 
    h1 {
        @apply text-4xl;
    }    
    .card-container { 
        @apply text-2xl;
    }   
    .card-desktop.lt {
        @apply text-2xl;
        min-height:130px;
        margin-bottom:1%;
    }  
    .row-slider {
        @apply text-2xl;
    } 
    .btn-time { 
        @apply text-lg;
    }  
    .ddl-lang {
        @apply text-xl;
    } 
    .qa-container { 
        /* @apply text-xl; */
    } 
    .div-form {
        @apply text-xl;
    }
    .input {
        @apply text-2xl;
    } 
    .wht-container {
        @apply w-11/12;
    }  
     .ddl-container {
        @apply w-15p;
    } 
    .slide-container {
        padding-bottom: 8%;
    } 
    .outer-row-multi {
        /* @apply flex-1; */
    }                                          
}

@screen lg {
    .row-pro {
        @apply text-3xl leading-tight;
    }   
    .btn-pro {
        @apply w-1/4;
    }
    .btn-pro.outer {
        @apply w-1/4; 
    }           
    .btn-login {
        @apply w-2/5 text-2xl;
    }   
    .qa-container { 
        @apply text-3xl;
    }  
    h1 {
        @apply text-5xl;
    }   
    .ddl-container {
        @apply w-15p;
    }  
    .row-slider {
        @apply text-3xl leading-tight;
        min-height:135px;
    }
    .emoji-card {
        @apply min-h-100px w-15p;
    }  
    .card-container { 
        @apply text-3xl;
    }  
    .div-form {
        @apply text-2xl w-2/3 self-center;
    }  
    .div-form.pad {
        @apply w-3/4 justify-start pt-4p;
    }     
    .input {
        @apply text-3xl;
    } 
    .wht-container {
        @apply px-4p w-1/2;
    }   
    .row-slider.slide {
        @apply min-h-160px;
        /* margin-bottom:150px; */
    }  
    .row-slider.tall {
        height:185px;
        padding-bottom:0px;
    }   
    .card-desktop.pro {
        height: 140px;
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }  
    /* .rndbtn {
        @apply w-full max-w-140px h-auto;
    } */
    .rndbtn.2col {
        max-width: 110px;
    }     
    .qa-box { 
        @apply text-4xl;
        /*  w-1/3 */
    }  
    .img-circle-btn.brz {
        background-postion:right;
    }  
    .card-desktop.lt {
        min-height:150px;
        margin-bottom:0%;
    }   
    .slide-container {
        /* back to auto for full width */
        height:auto;
        padding-bottom:4%;
    }  
    .footer.wht {
        @apply items-end;  
     }                                             
}

@screen xl {
    .row-pro {
        @apply flex-row items-stretch;
    } 
    .row-pro.h {
        /* display: -webkit-box; */
        @apply items-end flex flex-no-wrap flex-row;
    }
    .row-multi.h {
        /* display: -webkit-box; */
        @apply items-end flex flex-no-wrap flex-row self-stretch;
    }   
    .btn-login {
        @apply text-3xl;
    }
    .card-desktop.mlp {
        max-height: 140px;
        height:auto;
    }    
    .card-wrapper {
        @apply pr-2p;
        /* helps to distribute weight of child evenly */
        @apply self-auto;
        flex-basis: calc(33.3333% - 2%);
      }  
    .card-wrapper.end {
        @apply pr-0;
      }     
    .card-desktop.pro {
        font-size: calc(20px + 6 * ((100vw - 320px) / 680));
        @apply px-10p py-10p rounded-lg flex-col min-h-350px justify-between mb-mr2p; 
    }      
    .card-desktop.pro.selected {
        font-size: calc(20px + 6 * ((100vw - 320px) / 680));
        @apply px-10p py-10p rounded-lg flex-col min-h-350px; 
    } 
    .card-desktop.loc { 
        @apply px-tp py-tp;
    }   
    .img-circle-btn {
        @apply bg-center items-center self-center bg-125px w-125px h-125px my-tp;
    } 
    .rndbtn {
        @apply w-full max-w-145px h-auto;
      } 
    .rndbtn.2col {
        @apply max-w-140px;
      }         
    .img-circle-btn.selected { 
        @apply bg-center items-center self-center bg-125px w-125px h-125px my-tp;    
    }
    .qa-container { 
        @apply text-3xl;
    } 
    .ddl-container {
        @apply w-15p;
    } 
    .card-desktop.lt {
        @apply text-3xl;
    }  
    .img-circle-btn.brz {
        @apply w-15p bg-contain h-full my-tp;
    }  
    .row-slider {
        @apply flex-row overflow-x-auto;
        min-height:165px;
    } 
    .emoji-card {
        @apply items-center px-4p py-4p mr-mr2p rounded-lg self-end flex-col min-h-100px w-15p;
    }  
    .outer-row-multi {
        @apply flex-initial;
    }              
}